<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        <%= title ? title + ' | AdminLTE 3' : 'AdminLTE 3 | Dashboard' %>
    </title>

    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">

    <link rel="stylesheet" href="/css/all.min.css">
    <link rel="stylesheet" href="/css/adminlte.min.css">

    <link rel="stylesheet" href="/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="/css/buttons.bootstrap4.min.css">

    <script src="https://cdn.jsdelivr.net/npm/toastify-js@1.12.0/src/toastify.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/toastify-js@1.12.0/src/toastify.min.css" rel="stylesheet">
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

    <style>
        .nav-link {
            /* display: inline-block; */
            transition: all 0.3s ease-in-out;
        }

        .nav-link img {
            transition: transform 0.3s ease- in-out;
        }

        .nav-link:hover img {
            transform: scale(1.1);
        }

        .nav-link.active {
            background-color: rgba(255, 255, 255, .9);
            color: #343a40 !important;
        }

        .user-name {
            transition: transform 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
        }

        .user-name:hover {
            text-shadow: 2px 2px 8px rgba(15, 124, 161, 0.7);
            transform: scale(1.1);
        }
    </style>
</head>